body {
  font-family: Arial, sans-serif;
  background-color: #781e76;
}
h1 {
  text-align: left;
  margin-left: 20px;
}

h2 {
  margin-top: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

p {
  line-height: 2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 15px auto;
}

th {
  background-color: #d4a5d3;
  font-weight: bold;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #c78bc6;
}
}
